
/* Cards and Columns */

.main-card{
	background: white;
	margin-bottom: 2rem;
	border-color: #233d4d;
    border-width: 5px;
    min-height: 300px;
}

/* Checkbox */

input[type="checkbox"] {
    display: none !important;
  }
  label {
    display: inline;
    cursor: pointer;
    font-size: 20px;

  }
  input[type="checkbox"] + label:before {
    border: 1px solid #000;
    content: "\00a0";
    display: inline-block;
    font: 20px/1em sans-serif;
    height: 20px;
    margin: .25rem .25em .25rem .25rem;
    padding:0;
    vertical-align: top;
    width: 20px;
  }
  input[type="checkbox"]:checked + label:before {
    background: #233d4d;
    color: #fff;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }

.settings{
  margin-left: 2rem;
}

.btn-outline-dark{
  margin-left:1rem;
}
