/* Custom css for navigation bar*/
.custom-tabs{
    font-family: Arial, Helvetica, sans-serif;
}

.custom-nav-link.active{
    color:white;
    background-color: rgb(63, 169, 245);
}

.custom-nav-link.inactive{
    color:rgb(80, 75, 75);
    background-color: white;
}

.custom-nav-link.active:hover{
    color:white;
    background-color: rgb(63, 169, 245);
}

.custom-nav-link.inactive:hover{
    background-color: rgb(63, 169, 245);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Custom css for search form*/
.form-inline{
    float: right;
    padding-right: 5%;
    height: 100px;
    line-height: 100px;
}

/* Custom css for main logo*/
.img-fluid{
    max-width: 100%;
    height: auto;
    padding: 1%;
}

/*Custom css for breadcrumb*/
.breadcrumb{
    background-color: white;
}