/* Custom css for navigation bar*/

.nav-link.active{
    background-color: rgb(63, 169, 245) !important;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}

.nav-link.inactive{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 90, 90) !important;
}

.nav-link.inactive:hover{
    background-color: rgb(63, 169, 245);
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}

/* Custom css for search form*/
.form-inline{
    float: right;
    padding-right: 5%;
    height: 100px;
    line-height: 100px;
}

/* Custom css for main logo*/
.img-fluid{
    max-width: 100%;
    height: auto;
    padding: 1%;
}

/*Custom css for breadcrumb*/
.breadcrumb{
    background-color: white;
}