.nav-item.active{
	background-color: #3FA9F5;
	color: white;
}

.nav-item.inactive:hover{
	color:white;
  background-color: rgb(63, 169, 245);
}

/* Custom css for search form*/
.form-inline{
  float: right;
  padding-right: 5%;
  padding-top: 5%;
  height: 100px;
  line-height: 100px;
}

.nav-link{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-color: grey;
}

.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
}

.navbar-nav li {
  display: table-cell;
  text-align:center;
}

.img-fluid{
	padding-top: 3%;
}

.navbar.navbar-light{
	border-top-color: grey;
	border:20px;
}