

/* Cards and Columns */



.main-card{
	background: white;
	margin-bottom: 2rem;
	border-color: #233d4d;
	border-width: 5px;
}

/* Accordion */

.accordion{
	margin-top: 1rem; 
}

/* Nav pills */

.nav-pills{
	margin-top: 1rem;
}

.custom-pills.active{
	background:  #233d4d !important;
}

.custom-pills{
	color:  #233d4d;
	border: #233d4d !important;
	height: 70px;
	font-size: 20px;
}

.custom-pills:hover{
	color: #182a34;
}

.result-list{
	background: grey;
}

.settings{
	display: none;
}


