
  /* Cards and Columns */
  
  
.main-card{
      background: white;
      margin-bottom: 2rem;
      border-color: #233d4d;
      border-width: 5px;
  }
  
  /* List */
  
  .list-group-item{
      height: 70px;
      font-size: 20px;
  }
  
  .list-group-item:hover{
      background: #233d4d;
      color: white;
  }
  
  .list-group-item.active{
      background: #233d4d;
      border-color: #233d4d;
  }
  
  .list-group{
      margin-top: 1rem;
  }
  
  
  