<!DOCTYPE html>
<html lang="en">
<head>
	<title>Help</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.css"/>

    <link type="text/css" rel="stylesheet" href="./../css/help.css">
    <link rel="stylesheet" href="./../css/general.css">

</head>
<body>

	<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="./index.html">
        <img src="./..//images/logoblancosmall.png" class="img-fluid" alt="Main Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./rooms.html">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./routines.html">Routines</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./help.html">Help</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" oninput="updateResult(this.value)" type="search">
          <button type="submit" class="btn btn-default search float-right">
            <img class= "icon" src="./../images/magnifier.svg" alt="Search Icon"/> 
          </button> 
        </form>
      </div>
    </nav>

    <!--  Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Help</li>
      </ol>
    </nav>

	
	<!-- Main body -->
    <main class="container-fluid">
        <noscript>  
            <div class="card">
                  <div class="card-body">
                    <h3>Please turn on Javascript to use our application</h3>
                  </div>
                </div>
          </noscript>
      <div class="row">
        <div class="col">
          <div class="main-card card">
            <div class="card-body">
                <ul id="result-list"></ul>
              <div class="row justify-content-between">
                <div class="col">
                  <h2>Help</h2>
                  <h3>How to add a Room?</h3>
                  <ol>
                  	<li>Click on the section “Rooms”</li>
                  	<li>Click on “Add Room”</li>
                  	<li>Write the name of the new Room</li>
                  	<li>Click on "Save changes"</li>
                  </ol>
                  <h6>Other way:</h6>
                  <p>From “Main Page”, in the “Quick Actions” section, click on “Add Room” and follow steps 3 and 4 from the above list.</p>
                  <h3>How to add a Device?</h3>
                  <ol>
                  	<li>Click on the section “Rooms”</li>
                  	<li>Select the room in which the device will be placed</li>
                  	<li>Select the type of device you want to add</li>
                  	<li>Click on “add device”. This will open up a new window</li>
                  	<li>Fill in the required fields</li>
                  </ol>
                  <h6>Other way:</h6>
                  <p>From “Main Page”, in the “Quick Actions” section, click on “Add Device”. You will need to choose the room in which the device will be, and then fill in the required fields.</p>
                  <h3>How to change a device's settings?</h3>
                  <ol>
                  	<li>Click on the section “Rooms”</li>
                  	<li>Select the room in which the device is in</li>
                  	<li>Click on the wanted type of device</li>
                  	<li>Click on the trash can to the rightmost corner of the device’s name</li>
                  </ol>
                  <h3>How to delete a room?</h3>
                  <ol>
                  	<li>Click on the section “Rooms”</li>
                  	<li>Click on the trash can to the rightmost corner of the room’s name</li>
                  </ol>
                  <h3>How to create a new routine?</h3>
                  <ol>
                  	<li>Click on the section “Routines”</li>
                  	<li>Click on the “Add Routine” button</li>
                  	<li>Follow the steps </li>
                  </ol>
                  <h3>How to delete a routine?</h3>
                  <ol>
                  	<li>Click on the section “Routines”</li>
                  	<li>Click on the trash can icon on the right of the wanted routine’s name</li>
                  </ol>
                  <h3>How to use the search bar?</h3>
                  <ol>
                  	<li>Click on the search bar located at the top right corner of the page</li>
                  	<li>Introduce the concept that you wish to find on the page</li>
                  	<li>Click on any of the options shown in the list that will appear under the search bar</li>
                  </ol>
                	  </div>
              		</div>
              	</div>
          	</div> 
      	</div>
     </div>
  </main>
  
     <!--Copyright-->
     <div class="footer">
      <p class="text-secondary">Copyright 2018 IntelliHome</p>
    </div>
  
    
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="./../js/api_controller.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.js"></script>
    <script src="./../js/search.js"></script>
    
</body>


