<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="https://getbootstrap.com/dist/js/bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.css"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./../css/prueba3.css">

    <title>IntelliHome</title>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
	  <div class="container-fluid">
	    <a class="navbar-brand js-scroll-trigger" href="#page-top">
				 <img src="./..//images/logos-small.png" class="img-fluid" alt="Main Logo">
	    </a>
	    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	      Menu
	      <i class="fa fa-bars"></i>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      <ul class="navbar-nav ml-auto">
	        <li class="nav-item mx-0 mx-lg-1">
	          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#rooms">Rooms</a>
	        </li>
	        <li class="nav-item mx-0 mx-lg-1">
	          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#routines">Routines</a>
	        </li>
	        <li class="nav-item mx-0 mx-lg-1">
	          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#help">Help</a>
	        </li>
	      </ul>
	    </div>
	   </div>
	 </nav>

	<div class="container-fluid">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for...">
		      <span class="input-group-btn">
		        <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
		      </span>
		</div>
	</div>
</body>

