<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="./../js/settings.js"></script>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="./../css/settings.css">


    <title>Settings</title>
</head>
<body>
  <div class="card-body">
    <div class="row">
        Blind settings
    </div>
    <div class="row">
      DOWN
      <img class="img-responsive turned-off toggle" src="./../images/switchoff.png">UP</img>
    </div>

<div class="card-body">
  <div class="row">
    Lamp settings
  </div>
  <div class="row">
    OFF
    <img class="img-responsive turned-off toggle" src="./../images/switchoff.png">ON</img>
  </div>
  <div>
    <div class="col-2">
      Change color
      <input class="form-control" type="color" value="#563d7c" id="lamp-color">
    </div>
  </div>
  <div>
    <div class="col-2">
      Change brightness
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="lamp-brightness">
        <span id="b">50</span>
      </div>
    </div>
  </div>
</div>

<div class="card-body">
    <div class="row">
      Oven settings
    </div>
    <div class="row">
      OFF
      <img class="img-responsive turned-off toggle" src="./../images/switchoff.png">ON</img>
    </div>
    <div>
      <div class="col-2">
        <div class="form-group">
          <label for="set-heat">Set heat</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="col-2">
          <div class="form-group">
            <label for="set-heat">Set grill</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="col-2">
            <div class="form-group">
              <label for="set-heat">Set convection</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

      </div>
    </div>
    <div>
      <div class="col-2">
        Change temperature
        <div class="slidecontainer">
          <input type="range" min="90" max="230" value="50" class="slider" id="oven-temperature">
          <span id="t">100</span>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</body>