<!doctype html>
<html lang="en">
  <head>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://getbootstrap.com/dist/js/bootstrap.js"></script>
<link type="text/css" rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.css"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./../css/customHeader.css">

    <title>IntelliHome</title>
  </head>
  <body>
      <div class=".container-fluid">
          <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="./..//images/intellihome-logo.png" alt="Main logo">
            </div>
            <div class="col-sm-8">
                <form class="form-inline navbar-form">
                  <span class="input-group-btn">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-fill custom-tabs">
        <li class="nav-item">
            <a class="nav-link custom-nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link inactive" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link inactive" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link inactive" href="#">Disabled</a>
        </li>
    </ul>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </divclass></div>
    </body>
</html>